<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!--&lt;!&ndash; 配置job类 &ndash;&gt;-->
    <!--<bean id="refreshJob" class="com.iqiang.job.RefreshJob"></bean>-->
    <!--&lt;!&ndash; 配置jobDetail &ndash;&gt;-->
    <!--<bean id="springQtzJobMethod"-->
          <!--class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
        <!--<property name="targetObject">-->
            <!--<ref bean="refreshJob"/>-->
        <!--</property>-->
        <!--<property name="targetMethod">-->
            <!--<value>excute</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--&lt;!&ndash; 配置trigger &ndash;&gt;-->
    <!--<bean id="cronTriggerFactoryBean"-->
          <!--class="org.springframework.scheduling.quartz.CronTriggerFactoryBean ">-->
        <!--<property name="jobDetail" ref="springQtzJobMethod"></property>-->
        <!--<property name="cronExpression" value="0/5 * * * * ?"></property>-->
    <!--</bean>-->
    <!-- 配置调度框架 -->
    <!-- <bean id="SpringJobSchedulerFactoryBean"
        class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="cronTriggerFactoryBean" />
            </list>
        </property>
    </bean> -->

</beans>