<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iqiang.dao.TbVideoMapper" >
  <resultMap id="BaseResultMap" type="com.iqiang.pojo.TbVideo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="img_uri" property="imgUri" jdbcType="VARCHAR" />
    <result column="video_time" property="videoTime" jdbcType="VARCHAR" />
    <result column="zuozhe" property="zuozhe" jdbcType="VARCHAR" />
    <result column="bo_fang_liang" property="boFangLiang" jdbcType="VARCHAR" />
    <result column="miao_shu" property="miaoShu" jdbcType="VARCHAR" />
    <result column="video_url" property="videoUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, img_uri, video_time, zuozhe, bo_fang_liang, miao_shu, video_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.iqiang.pojo.TbVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_video
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_video
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.iqiang.pojo.TbVideoExample" >
    delete from tb_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.iqiang.pojo.TbVideo" >
    insert into tb_video (id, img_uri, video_time, 
      zuozhe, bo_fang_liang, miao_shu, 
      video_url)
    values (#{id,jdbcType=BIGINT}, #{imgUri,jdbcType=VARCHAR}, #{videoTime,jdbcType=VARCHAR}, 
      #{zuozhe,jdbcType=VARCHAR}, #{boFangLiang,jdbcType=VARCHAR}, #{miaoShu,jdbcType=VARCHAR}, 
      #{videoUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iqiang.pojo.TbVideo" >
    insert into tb_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="imgUri != null" >
        img_uri,
      </if>
      <if test="videoTime != null" >
        video_time,
      </if>
      <if test="zuozhe != null" >
        zuozhe,
      </if>
      <if test="boFangLiang != null" >
        bo_fang_liang,
      </if>
      <if test="miaoShu != null" >
        miao_shu,
      </if>
      <if test="videoUrl != null" >
        video_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="imgUri != null" >
        #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null" >
        #{videoTime,jdbcType=VARCHAR},
      </if>
      <if test="zuozhe != null" >
        #{zuozhe,jdbcType=VARCHAR},
      </if>
      <if test="boFangLiang != null" >
        #{boFangLiang,jdbcType=VARCHAR},
      </if>
      <if test="miaoShu != null" >
        #{miaoShu,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.iqiang.pojo.TbVideoExample" resultType="java.lang.Integer" >
    select count(*) from tb_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_video
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.imgUri != null" >
        img_uri = #{record.imgUri,jdbcType=VARCHAR},
      </if>
      <if test="record.videoTime != null" >
        video_time = #{record.videoTime,jdbcType=VARCHAR},
      </if>
      <if test="record.zuozhe != null" >
        zuozhe = #{record.zuozhe,jdbcType=VARCHAR},
      </if>
      <if test="record.boFangLiang != null" >
        bo_fang_liang = #{record.boFangLiang,jdbcType=VARCHAR},
      </if>
      <if test="record.miaoShu != null" >
        miao_shu = #{record.miaoShu,jdbcType=VARCHAR},
      </if>
      <if test="record.videoUrl != null" >
        video_url = #{record.videoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_video
    set id = #{record.id,jdbcType=BIGINT},
      img_uri = #{record.imgUri,jdbcType=VARCHAR},
      video_time = #{record.videoTime,jdbcType=VARCHAR},
      zuozhe = #{record.zuozhe,jdbcType=VARCHAR},
      bo_fang_liang = #{record.boFangLiang,jdbcType=VARCHAR},
      miao_shu = #{record.miaoShu,jdbcType=VARCHAR},
      video_url = #{record.videoUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.iqiang.pojo.TbVideo" >
    update tb_video
    <set >
      <if test="imgUri != null" >
        img_uri = #{imgUri,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null" >
        video_time = #{videoTime,jdbcType=VARCHAR},
      </if>
      <if test="zuozhe != null" >
        zuozhe = #{zuozhe,jdbcType=VARCHAR},
      </if>
      <if test="boFangLiang != null" >
        bo_fang_liang = #{boFangLiang,jdbcType=VARCHAR},
      </if>
      <if test="miaoShu != null" >
        miao_shu = #{miaoShu,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        video_url = #{videoUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iqiang.pojo.TbVideo" >
    update tb_video
    set img_uri = #{imgUri,jdbcType=VARCHAR},
      video_time = #{videoTime,jdbcType=VARCHAR},
      zuozhe = #{zuozhe,jdbcType=VARCHAR},
      bo_fang_liang = #{boFangLiang,jdbcType=VARCHAR},
      miao_shu = #{miaoShu,jdbcType=VARCHAR},
      video_url = #{videoUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>